.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  margin: 0 auto;
}

.login-top {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.login-btn {
  display: flex;
  gap: 10px;
  padding: 15px 60px;
  border: 1.2px solid #D3D8DC;
  text-decoration: none;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #060E1E;
}

.login-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: #BEC5CC;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.login-line::before {
  content: "";
  width: 186px;
  height: 1px;
  background-color: #E3E6E9;
}

.login-line::after {
  content: "";
  width: 186px;
  height: 1px;
  background-color: #E3E6E9;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  border: 1.2px solid #D3D8DC;
  padding-right: 14px;
}

.checkbox {
  width: 0;
  height: 0;
}

.checkbox-img {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../../public/img/eye.svg);
}

.input {
  height: 100%;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 15px;
  line-height: 20px;
  outline: none;
  box-shadow: none;
  border: none;
}

.label {
  display: flex;
}


.submit {
  cursor: pointer;
  color: #fff;
  width: 400px;
  padding: 13px 0 13px;
  text-align: center;
  background-color: #316FEA;
  border-radius: 8px;
  border: 1px solid #316FEA;

  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.text {
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #383838;
}

.bottom-link {
  text-decoration: none;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #316FEA;
}

.input-link {
  display: flex;
  justify-content: end;

  text-decoration: none;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #316FEA;
}