.submit-btn {
  cursor: pointer;
  color: #fff;
  padding: 13px 155px 13px;
  
  text-align: center;
  background-color: #316FEA;
  border-radius: 8px;
  border: 1px solid #316FEA;

  text-decoration: none;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 16px;
  line-height: 21px;
}


.reset {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  display: flex;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  color: #060E1E;
}

.input {
  height: 100%;
  font-family: Basis Grotesque Pro, sans-serif;
  font-size: 15px;
  line-height: 20px;
  outline: none;
  box-shadow: none;
  border: none;
}